 @media (min-width: 0px) and (max-width: 320px) {
     .logo img {
         width: 160px;
     } 
     
      }

 
 @media (max-width: 550px) {
  
     .slider h1{
    font-size: 22px;
    margin-top: 40px;
    text-transform: uppercase;
    color: white;
    line-height: 60px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

      }

 @media (min-width: 0px) and (max-width: 547px) {
 
     #services, #prices, #testimonials, #contact{
    padding-top: 10px;
}
     .section-header h1{
    margin-top: 10px;
    font-size: 24px;
}
     .logo-left {
    float: none;
    margin-bottom: 30px;
}
    
     
      }